numpy==2.4.6
scipy==1.17.1
soundfile==0.13.1
librosa==0.11.0
einops==0.8.2
PyYAML==6.0.3
psutil==7.2.2
pydub==0.25.1
resampy==0.4.3
omegaconf==2.3.0
onnx==1.21.0
beartype==0.22.9
julius==0.2.7
samplerate==0.2.4
lameenc>=1.2
